@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,500&display=swap');


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h2 {
    color:#191d24;
  }

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: var(--font-family-primary);
  color: var(--c-text-primary);
  background-color: var(--c-bg-primary);
  background: var(--c-background01);
}

img {
  max-width: 100%;
  display: block;
}

/* VARIABLES GLOBALES */

:root {
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
    --font-family-tertiary: "Tinos", serif; 

    --c-text-primary: #9EA9BD;
    --c-text-secondary: #191d24;

    --c-link-primary:#599da4;
    --c-box-shadow: #57b29b;

    --c-bg-primary: #57b29b;
    --c-bg-secondary: #599da4;
    --c-bg-tertiary: #7988a4;

    --c-border-primary: #467f86;

  --c-background01: #191d24; 

  }

  p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
  }

/* textos subrayadas con enlace */
a {
  color: inherit;
  text-decoration: none;
}

.hero-bio a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--c-link-primary)), color-stop(50%, transparent));
  background: linear-gradient(to right, var(--c-link-primary) 50%, transparent 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: 0 1px 0 0 currentColor;
          box-shadow: 0 1px 0 0 currentColor;
  text-decoration: none;
}

.hero-bio a:hover {
color:var(--c-link-primary);
text-decoration: none;
}

/* hasta aquí, textos subrayados */

input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


@-webkit-keyframes animate-background {
  50% {
    background-position: bottom right;
  }
}

@keyframes animate-background {
  50% {
    background-position: bottom right;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
  font-weight: 500;
}



/* Sidebar */

.sidebar {
  border-style: double;
  border-right: 1px solid var(--c-border-primary);
  padding: 0.75rem 1rem;
  position: relative;
  background-color: var(--c-bg-primary);

}

@media (min-width: 800px) {
  .sidebar {
    padding: 1rem 1.0rem;
  }
}

.section:last-of-type .sidebar:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--c-border-primary);
  border-style: double;
  background-color: var(--c-bg-primary);
  width: 11px;
  height: 11px;
  right: -6px;
  bottom: -6px;
}

.sidebar-title {
  top: 1rem;
  margin-top: 1rem;
  position: -webkit-sticky;
  position: sticky;
  font-weight: 300;
  color: var(--c-text-secondary);
}

.sidebar-title span {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg) translateY(-1ex);
          transform: rotate(90deg) translateY(-1ex);
  line-height: 1;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  font-size: 1rem;
  font-family: var(--font-family-secondary);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sidebar-title span svg {
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}


/* Fin Sidebar */

/* VENTANAS */

/* 1.- Principal */

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  /* imagen  */

  background-image: url("../img/try04.png");
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 30%; 
  /* fin de la imagen */
}

.hero-body {
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero-bio {
  margin-top: -2.5vh;
  font-size: 1.125rem;
}

@media (min-width: 800px) {
  .hero-bio {
    font-size: 1.75rem;
  }
}

.hero-bio > * + * {
  margin-top: 1em;
}


.hero-bio h1 {
  font-size: 1.75rem;
  line-height: 1.125;
  position: relative;
}

@media (min-width: 800px) {
  .hero-bio h1 {
    font-size: 6rem;
  }
}

.hero-bio h1 + * {
  margin-top: 1.25em;
}

/* Contenedeor de las letras */

.container {
  width: 85%;
  max-width: 1400px;
  margin-left: 13%;
  margin-right: auto;
}

.container--narrow {
  max-width: 1200px;
}

.container--narrowest {
  max-width: 800px;
}


/* Fin de ventana 1.- Principal */


.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  border-top: 1px solid var(--c-border-primary);
  position: relative;
  z-index: 1;
}

.section-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

@media (min-width: 800px) {
  .section-body {
    padding-top: 8rem;
    padding-bottom: 12rem;
  }
}

@media (min-width: 800px) {
  .section-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 800px) {
  .section-columns .section-intro {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.section-columns .section-content {
  margin-top: 4rem;
}

@media (min-width: 800px) {
  .section-columns .section-content {
    margin-top: 0;
    margin-left: 7rem;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.section-intro {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Urbanist", "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.section-intro > * + * {
  margin-top: 1em;
}

.section-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-rows .section-intro {
  max-width: 1200px;
}

.section-rows .section-content {
  margin-top: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-actions {
  margin-top: 5rem;
}

.section-actions a {
  display: inline-block;
  border: 2px solid var(--c-text-primary);
  color: var(--c-text-primary);
  text-decoration: none;
  font-family: var(--font-family-tertiary);
  padding: .625em 1.5em;
}

.section-actions a:hover {
  background-color: var(--c-link-primary);
  text-decoration: none;
}


.article-list-item + .article-list-item {
  margin-top: 3rem;
}

@media (min-width: 800px) {
  .article-list-item + .article-list-item {
    margin-top: 4rem;
  }
}

.article-list-item-title {
  font-size: 1.375rem;
  line-height: 1.375;
  text-transform: capitalize;
  text-decoration: none;
}

@media (min-width: 800px) {
  .article-list-item-title {
    font-size: 2rem;
  }
}

.article-list-item-title a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--c-link-primary)), color-stop(50%, transparent));
  background: linear-gradient(to right, var(--c-link-primary) 50%, transparent 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: 0 1px 0 0 currentColor;
          box-shadow: 0 1px 0 0 currentColor;
}

.article-list-item-title a:hover {
  background-position: left top;
  text-decoration: none;
}

.article-list-item-title + .article-list-item-excerpt {
  margin-top: 1.25rem;
}

.article-list-item-excerpt {
  font-size: 1rem;
  font-weight: 500;
  color: var(--c-text-primary);
}

@media (min-width: 800px) {
  .article-list-item-excerpt {
    font-size: 1.125rem;
  }
}

.article-list-item-permalink {
  margin-top: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: var(--font-family-tertiary);
  font-size: 1rem;
}

@media (min-width: 800px) {
  .article-list-item-permalink {
    font-size: 1.125rem;
  }
}

.article-list-item-permalink svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 28px;
  height: 28px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

@media (min-width: 800px) {
  .article-list-item-permalink svg {
    width: 32px;
    height: 32px;
  }
}

.article-list-item-permalink svg + span {
  margin-left: 0.5em;
}

.article-list-item-permalink span {
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.article-list-item-permalink:hover span {
  -webkit-transform: translateX(0.25em);
          transform: translateX(0.25em); 
}

/* footer */

.footer {
  border-top: 1px solid var(--c-border-primary);
  padding-top: 2rem;
  padding-bottom: 3rem;
  position: relative;
}

.footer:before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--c-bg-primary);
  top: -6px;
  border: 1px solid var(--c-border-primary);
}

@media (min-width: 800px) {
  .footer {
    padding-bottom: 2rem;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-family-secondary);
  font-size: 1rem;
}

@media (min-width: 800px) {
  .footer-content {
    font-size: 1.125rem;
  }
}

.footer-content a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--c-link-primary)), color-stop(50%, transparent));
  background: linear-gradient(to right, var(--c-link-primary) 50%, transparent 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: 0 1px 0 0 currentColor;
          box-shadow: 0 1px 0 0 currentColor;
}

.footer-content a:hover {
  background-position: left top;
}

/* fin de footer */

/* Ventana de services */

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2px;
  margin-top: 2px;
  
}

.project-list-item {
  color: var(--c-text-primary);
  border: 2px solid currentColor;
  margin-left: -2px;
  margin-top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5rem;
  background:var(--c-bg-tertiary);
  box-shadow: 10px 5px 5px var(--c-box-shadow);
}


@media (min-width: 800px) {
  .project-list-item {
    min-width: 300px;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 3rem;
  }
}

.project-list-item-title {
  text-transform: capitalize;
  line-height: 1.375;
  font-size: 1.25rem;
}

@media (min-width: 800px) {
  .project-list-item-title {
    font-size: 1.75rem;
  }
}

.project-list-item-title a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--c-link-primary)), color-stop(50%, transparent));
  background: linear-gradient(to right, var(--c-link-primary) 50%, transparent 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: 0 1px 0 0 currentColor;
          box-shadow: 0 1px 0 0 currentColor;
}


.project-list-item-title a:hover {
  /* background-position: left top; */
  color: var(--c-link-primary);
} 

.project-list-item-title + * {
  margin-top: 1em;
}

.project-list-item-description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--c-text-secondary);
  padding-bottom: 1.5rem;
}

@media (min-width: 800px) {
  .project-list-item-description {
    font-size: 1.125rem;
    padding-bottom: 2rem;
  }
}

.project-list-item-permalink {
  margin-top: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: var(--font-family-tertiary);
  font-size: 1rem;
}

@media (min-width: 800px) {
  .project-list-item-permalink {
    font-size: 1.125rem;
  }
}

.project-list-item-permalink svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 28px;
  height: 28px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

@media (min-width: 800px) {
  .project-list-item-permalink svg {
    width: 32px;
    height: 32px;
  }
}

.project-list-item-permalink svg + span {
  margin-left: 0.5em;
}

.project-list-item-permalink span {
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.project-list-item-permalink:hover span {
  -webkit-transform: translateX(0.25em);
          transform: translateX(0.25em);
}

/*fin de ventana de services*/

/* boton to top */

.to-top-button-wrapper {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  pointer-events: none;
  z-index: 99;
}

.to-top-button {
  pointer-events: auto;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--c-background01);
  border: 2px solid currentColor;
  -webkit-box-shadow: 4px 4px 0 0 currentColor;
          box-shadow: 4px 4px 0 0 currentColor;
  color: var(--c-text-primary);
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.to-top-button svg {
  width: 28px;
  height: 28px;
}

.to-top-button:hover {
  background-color: var(--c-link-primary);
}

/* fin boton to top */


.page--landing {
  margin-top: 10vh;
}

.page-header + .page-body {
  margin-top: 3rem;
}

.page-body {
  padding-bottom: 5rem;
  background-color: .page-body;
  /* margin-top: 10vh; */
}

.article {
  max-width: 80ch;
}

.subpage-navigation {
  padding: 1rem;
  background-color: var(--c-background01);
}

.subpage-navigation-link {
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family-tertiary);
}

.subpage-navigation-link svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  height: 32px;
}

.subpage-navigation-link svg + span {
  margin-left: 0.5rem;
}

.subpage-navigation-link span {
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.subpage-navigation-link:hover span {
  -webkit-transform: translateX(0.375rem);
          transform: translateX(0.375rem);
}

.article-header-title,
.page-header-title {
  font-size: 1.75rem;
  line-height: 1.125;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 800px) {
  .article-header-title,
  .page-header-title {
    font-size: 4rem;
  }
}

.article-header-title:after,
.page-header-title:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--c-bg-secondary);
  z-index: -1;
  width: 100px;
  height: 100px;
  top: -30px;
  left: -50px;
}

.vaporwave-theme .article-header-title:after, .vaporwave-theme
.page-header-title:after {
  background-color: transparent;
  background-image: repeating-linear-gradient(45deg, lightblue, lightblue 2.5%, transparent 2.5%, transparent 5%);
}

@media (min-width: 800px) {
  .article-header-title:after,
  .page-header-title:after {
    width: 200px;
    height: 200px;
    top: -60px;
    left: -100px;
  }
}

.article-header-description {
  font-size: 1.125rem;
  margin-top: 1em;
  color: var(--c-text-primary);
  font-weight: 500;
}

.article-header-description > * + * {
  margin-top: 1.5em;
}

@media (min-width: 800px) {
  .article-header-description {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}

.article-body {
  font-size: 1rem;
  margin-top: 2em;
  color: var(--c-text-primary);
  font-weight: 500;
}

@media (min-width: 800px) {
  .article-body {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6,
.article-body a {
  color: var(--c-text-primary);
}

.article-body h1 {
  font-size: 1.75rem;
  line-height: 1.125;
}

@media (min-width: 800px) {
  .article-body h1 {
    font-size: 3rem;
  }
}

.article-body h2 {
  font-size: 1.375rem;
  line-height: 1.25;
}

@media (min-width: 800px) {
  .article-body h2 {
    font-size: 2rem;
  }
}

.article-body h3 {
  font-size: 1.125rem;
}

@media (min-width: 800px) {
  .article-body h3 {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}

.article-body h4 {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .article-body h4 {
    font-size: 1.25rem;
  }
}

.article-body > * + * {
  margin-top: 1.5em;
}

.article-body > h2 + *,
.article-body > h3 + *,
.article-body > h4 + * {
  margin-top: 0.75em;
}

.article-body hr {
  width: 50px;
  height: 4px;
  border: 0;
  background-color: #ccc;
  margin-top: 4em;
  margin-bottom: 4em;
}

.article-body a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--c-link-primary)), color-stop(50%, transparent));
  background: linear-gradient(to right, var(--c-link-primary) 50%, transparent 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: 0 1px 0 0 currentColor;
          box-shadow: 0 1px 0 0 currentColor;
  font-weight: 600;
}

.article-body a:hover {
  background-position: left top;
}

.article-body blockquote {
  border-left: 4px solid var(--c-border-primary);
  padding: 0;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.article-body ul, .article-body ol {
  padding-left: 1.25rem;
}

.article-body code {
  font-family: var(--font-family-tertiary);
}

.article-body img {
  height: auto;
}

/************/

.messages {
  display: flex;
  flex-direction:row;
  width: 92%;
  height: 8%;
}

.messages_2 {
  display: flex;
  flex-direction:row;
  width: 92%;
  height: 8%;
  margin-bottom: 7%;
}
.bodyMessage {
  border: 0;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  font-family: var(--font-family-primary);
  font-size: 1.3em;
  color: #abd8cd;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bodyMessage{
  width: 100%;
  max-height: 100%;
}

.bodyMessage:before {
  content: attr(aria-label);
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: scale(0) translateX(calc(-100% - 0.5rem)) translateY(-50%);
          transform: scale(0) translateX(calc(-100% - 0.5rem)) translateY(-50%);
  z-index: 10;
  white-space: nowrap;
  padding: 0.25em 1em;
  border-radius: 99em;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}


#head1, #head2,#head3, #head4, #head5, #head6, #head7, #head8, #head9, #head10, #head11, #head12 {
  opacity: 0;
  }
  
  #head1 {
  -webkit-animation: fadeOut 1 3s ease-in;
  -moz-animation: fadeOut 1 3s ease-in;
  -o-animation: fadeOut 1 3s ease-in;
  animation: fadeOut 1 3s ease-in;
  }
  
  #head2 {
  -webkit-animation: fadeOut 1 3s ease-in;
  -moz-animation: fadeOut 1 3s ease-in;
  -o-animation: fadeOut 1 3s ease-in;
  animation: fadeOut 1 3s ease-in;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
  }
  
  #head3 {
  -webkit-animation: fadeOut 1 3s ease-in;
  -moz-animation: fadeOut 1 3s ease-in;
  -o-animation: fadeOut 1 3s ease-in;
  animation: fadeOut 1 3s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
  }
  
  #head4 {
  -webkit-animation: fadeOut 1 3s ease-in;
  -moz-animation: fadeOut 1 3s ease-in;
  -o-animation: fadeOut 1 3s ease-in;
  animation: fadeOut 1 3s ease-in;
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  animation-delay: 9s;
  }

  #head5 {
    -webkit-animation: fadeOut 1 3s ease-in;
    -moz-animation: fadeOut 1 3s ease-in;
    -o-animation: fadeOut 1 3s ease-in;
    animation: fadeOut 1 3s ease-in;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
    }

  #head6 {
    -webkit-animation: fadeOut 1 3s ease-in;
    -moz-animation: fadeOut 1 3s ease-in;
    -o-animation: fadeOut 1 3s ease-in;
    animation: fadeOut 1 3s ease-in;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    animation-delay: 15s;
  }

  #head7 {
      -webkit-animation: fadeOut 1 3s ease-in;
    -moz-animation: fadeOut 1 3s ease-in;
    -o-animation: fadeOut 1 3s ease-in;
    animation: fadeOut 1 3s ease-in;
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    animation-delay: 18s;
  }

  #head8 {
    -webkit-animation: fadeOut 1 3s ease-in;
  -moz-animation: fadeOut 1 3s ease-in;
  -o-animation: fadeOut 1 3s ease-in;
  animation: fadeOut 1 3s ease-in;
  -webkit-animation-delay: 21s;
  -moz-animation-delay: 21s;
  -o-animation-delay: 21s;
  animation-delay: 21s;
}

#head9 {
  -webkit-animation: fadeOut 1 3s ease-in;
-moz-animation: fadeOut 1 3s ease-in;
-o-animation: fadeOut 1 3s ease-in;
animation: fadeOut 1 3s ease-in;
-webkit-animation-delay: 24s;
-moz-animation-delay: 24s;
-o-animation-delay: 24s;
animation-delay: 24s;
}

  #head10, #head12 {
  -webkit-animation: finalFade 1 3s ease-in;
  -moz-animation: finalFade 1 3s ease-in;
  -o-animation: finalFade 1 3s ease-in;
  animation: finalFade 1 3s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 27s;
  -moz-animation-delay: 27s;
  -o-animation-delay: 27s;
  animation-delay: 27s;
  }


  
  @-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
  }
  
  @-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
  }
  
  @-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
  }
  
  @keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
  }
  
  @-webkit-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @-moz-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @-o-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @-webkit-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
  }
  
  @-moz-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
  }
  
  @-o-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
  }
  
  @keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
  }


  @media only screen and (max-width: 800px) {
      .messages, .messages_2, .bodyMessage {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 1em;
        margin: 0%;
      }
  }
