<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if title %}
                {{ (title + " | ") }}
            {% endif %}
        Startup
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Aitor Zaldua">
        <meta name="description" content="Startup site">
        <meta property="og:title" content="Startup site">
        <meta property="og:description" content="Startup site">
        <meta property="og:image" content="https://www.havardbrynjulfsen.com/img/meta-img.jpg">
        <meta property="og:url" content="https://www.havardbrynjulfsen.com">
        <meta property="og:site_name" content="Startup site">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:alt" content="Screenshot of Håvard Brynjulfsen's website">
        <link href="{{ '/css/styles.css' | url }}" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="/img/shoe.png">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YS2MB4B427"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-YS2MB4B427');
        </script>
    </head>
    <body>
