
<section class="hero">
    <div class="sidebar">
        <h1 class="sidebar-title">
            <span>
                {{ section.data.icon | safe }}
                {{ section.data.title }}
            </span>
        </h1>
    </div>
    {# new #}
    {# new #}
    <div class="hero-body">
    <section class=messages>
        <p id='head1' class='bodyMessage'>#Decentralized</p>
        <p id='head2' class='bodyMessage'>#Privacy</p>
        <p id='head3' class='bodyMessage'>#Tokenization</p>
        <p id='head4' class='bodyMessage'>#DApps</p>
        <p id='head5' class='bodyMessage'>#Holochain</p>
        <p id='head6' class='bodyMessage'>#Smart_Contract</p>
        <p id='head7' class='bodyMessage'>#Distributed_Data_System</p>
        <p id='head8' class='bodyMessage'>#Blockchain</p>
        <p id='head9' class='bodyMessage'>#DAO</p>
        <p id='head10' class='bodyMessage'>/info@telescope.com</p>
    </section>
    <section class=messages_2>
        {# <p id='head12' class='bodyMessage'>CompanyName</p> #}
    </section>
        <div class="hero-bio container container--narrow">

    

            {{ section.data.content | safe }}
        </div>
    </div>
</section>