<header class='header' id="top">
    
{#     <p id='head1' class='bodyMessage'>Digital transformation</p>
    <p id='head2' class='bodyMessage'>Data Integrity</p>
    <p id='head3' class='bodyMessage'>Security</p>
    <p id='head4' class='bodyMessage'>Independence</p>
    <p id='head5' class='bodyMessage'>Blockchain</p>
    <p id='head6' class='bodyMessage'>Decentralized Ecosystem</p>
    <p id='head7' class='bodyMessage'>Company Control</p>
    <p id='head8' class='bodyMessage'>Holochain</p>

    <p id='head20' class='bodyMessage'>ComanyName - info@Company.com</p> #}
</header>
