{# Este script es de /_site/index.html
 #}
{# <h2 class="project-list-item-title">We take your vision to production</h2> #}
<div class="project-list">
    <article class="project-list-item">
            <h2 class="project-list-item-title">Research</h2>
            <div class="project-list-item-description">
                We help you identify opportunities to improve user experience, supplier relationships or increase performance with the latest cryptographic and economic innovations.<br>
                <br>
                New technological and economic infrastructures are constantly being built and are accompanied by new trade-offs.
                Our research team helps you identify the opportunities and risks inherent in these new technologies as they relate to your specific project. <br>
            </div>
        </article>
</div>
<div class="project-list">
    <article class="project-list-item">
            <h2 class="project-list-item-title">Design</h2>
            <div class="project-list-item-description">
                We design decentralized systems that weave distributed technologies, economics and governance structures into beautiful interfaces.<br>
                <br>
                Decentralized technologies require a multidisciplinary approach, which requires taking into account technological, 
                economic and social aspects of the system. We are experts in weaving all these aspects together and help you design the entire product stack, 
                from low-level protocols to user-facing interfaces.
        </article>
</div>
<div class="project-list">
        <article class="project-list-item">
            <h2 class="project-list-item-title">Implementation</h2>
            <div class="project-list-item-description">
                We implement and optimize everything from low level networking protocols to sleek user facing applications.<br>
                <br>
                Implementing decentralised systems in a secure way while meeting performance requirements is always tricky.<br>
                <br>
                To do this effectively, extensive knowledge of peer-to-peer networking, distributed computation and consensus protocols is needed. 
                We have accumulated the necessary experience across a number of critical infrastructure projects and can ensure your implementation follows best practices and meets your desired goals.
        </article>
</div>
