<h2 class="project-list-item-title">We take your vision to production</h2>
<div class="project-list">
    <article class="project-list-item">
            <h2 class="project-list-item-title">Research</h2>
            <div class="project-list-item-description">
                We help you identify opportunities to improve user experience or increase throughput with the latest cryptographic and economic innovations.
            </div>
            <div class="project-list-item-description">
                Example: We can help you understand whether your project would benefit from cutting edge scaling techniques such as ZKPs and ORs.
            </div>
        </article>
</div>
<div class="project-list">
    <article class="project-list-item">
            <h2 class="project-list-item-title">Design</h2>
            <div class="project-list-item-description">
                We design decentralised systems, which weave together distributed technologies, economics, and governance structures in beautiful interfaces.
            </div>
            <div class="project-list-item-description">
                Example: We can help you design a cross-chain NFT marketplace, by using standardised bridging techniques and interoperable blockchain frameworks.
            </div>
        </article>
</div>
<div class="project-list">
        <article class="project-list-item">
            <h2 class="project-list-item-title">Implementation</h2>
            <div class="project-list-item-description">
                We implement and optimize everything from low level networking protocols to sleek user facing applications.
            </div>
            <div class="project-list-item-description">
                Example: We can help you implement a production grade proof-of-stake or proof-of-authority blockchain, which can serve as the backbone of your new decentralised ecosystem.
            </div>
        </article>
</div>
