--- 
layout: layouts/base.njk
---

<main>
    <section class="page page--landing">
        <div class="container container--narrowest">
            <header class="page-header">
                <h1 class="page-header-title">
                    {{ title }}
                </h1>
            </header>
            <div class="page-body">
                {% include "partials/postlist.njk" %}
            </div>
        </div>
    </section>
{% include 'partials/back-to-top.njk' %}
</main>
{% include 'partials/footer.njk' %}