--- 
layout: layouts/base.njk
---

<main>
    <section class="page page--landing">
        <div class="container container--narrowest">
            
            <div class="page-body">
                {% include "partials/projectlist_2.njk" %}
            </div>
        </div>
    </section>
{% include 'partials/back-to-top.njk' %}
</main>
{% include 'partials/footer.njk' %}